* {
	box-sizing: border-box;
}

.next-wireframe-button {
	position: fixed;
	top: 10px;
	left: 50%;
	z-index: 500;
	cursor: pointer;
}

body {
	margin: 0;
	height: 100%;
	background-color: grey;
}

nav {
	position: fixed;
	background-color: #323252;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80px;
	top: 0;
	z-index: 1;
}

nav .burger-icon {
	position: fixed;
	width: 40px;
	height: 40px;
	border: solid grey 2px;
	top: 20px;
	left: 20px;
	cursor: pointer;
	color: white;
	font-size: 0.7em;
}

nav h3 {
	margin: 0;
	padding: 0;
	line-height: 0;
	color: #FEFFE4;
	text-shadow: 1.5px 1.5px black;
	font-size: 2em;
	position: relative;
	left: 10%;
	top: 39px;
}

.landing-page-section {
	position: relative;
	width: 100%;
	background: #323232;
	text-align: center;
	margin: 0 auto;
	margin-top: -40px;
	height: 340px;
}

.landing-page-section h1, .landing-page-section p, 
.landing-page-section label, .landing-page-section h2,
.dashboard {
	color: #FEFFE4;
}

.landing-page-section h1 {
	padding-top: 150px;
	font-size: 3em;
	line-height: 0;
}

.landing-page-section p {
	font-size: 1.3em;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 40px;
	max-width: 600px;
	margin: 0 auto;
	text-align: justify;
}

.login-signup {
	background-color: #332417;
	height: 430px;
}

.login-signup h2, .login-signup form {
	position: relative;
}

.login-signup h2 {
	font-size: 1.7em;
	padding-top: 35px;
}

.login-signup p {
	top: 0px;
	text-align: center;
	padding: 0;
	padding-top: 40px;
	width: 50%;
}

.login-signup form {
	top: -10px;
}

.login-signup form label {
	display: inline-block;
	position: relative;
	text-align: left;
	padding-top: 10px;
}

.login-signup form label:after, .login-signup form input:after {
  content:"\a";
  white-space: pre;
} 

.login-signup form input:after {
	content:"test";
}

.dashboard {
	position: relative;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	margin-top: -20px;
}

.dashboard header {
	width: 100%;
	background: #323232;
	height: 200px;
	margin-top: 80px;
}

.dashboard header h2 {
	padding-top: 75px;
	font-size: 3em;
	margin: 0;
}

.workouts, .program-calendar {
  position: relative;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	margin-top: -20px;	
	list-style: none;
	background-color: #323222;
}

.workouts ul, .program-calendar ul {
	display: flex;
  flex-wrap: wrap;
	padding-top: 40px;
	padding-bottom: 40px;
	list-style-type: none;
}

.workouts ul li, .program-calendar ul li {
	width: 80px;
	height: 80px;
	margin: 10px;
	border: 3px red solid;
	cursor: pointer;
}

.workouts ul li .li-text,
.program-calendar ul li .li-text {
	padding: 7px;
	position: relative;
	display: block;
	top: 50%;
	transform: translateY(-50%);
}

.program-calendar-header {
	width: 100%;
	background: #323232;
	height: 100px;
	margin-top: 80px;
}

.program-calendar-header h2 {
	color: #FEFFE4;
	padding: 40px;
	text-align: center;
}

.description {
	background: #323222;
}

@media only screen and (max-width: 500px) {
	.hero {
		width: 100%;
	}
	
	.hero h1 {
		font-size: 1.9em
	}

	.landing-page-section p {
		padding: 40px;
		font-size: 1em;
	}

}
