* {
	box-sizing: border-box;
}

.next-wireframe-button {
	position: fixed;
	top: 10px;
	left: 50%;
	z-index: 500;
	cursor: pointer;
}

body {
	margin: 0;
	height: 100%;
	background-color: grey;
}

nav {
	position: fixed;
	background-color: #323252;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80px;
	top: 0;
	z-index: 1;
}

nav .burger-icon {
	position: fixed;
	width: 40px;
	height: 40px;
	border: solid grey 2px;
	top: 20px;
	left: 30px;
	cursor: pointer;
	color: white;
	font-size: 0.7em;
}

nav h3 {
	margin: 0;
	padding: 0;
	line-height: 0;
	color: #FEFFE4;
	text-shadow: 1.5px 1.5px black;
	font-size: 2em;
	position: relative;
	left: 90px;
	top: 39px;
}

.landing-page-section {
	position: relative;
	width: 100%;
	background: #323232;
	text-align: center;
	margin: 0 auto;
	margin-top: -40px;
	height: 340px;
}

.landing-page-section h1, .landing-page-section p, 
.landing-page-section label, .landing-page-section h2,
.dashboard, .li-text, .edit-individual-workout label,
.edit-individual-workout h2 {
	color: #FEFFE4;
}

.landing-page-section h1 {
	padding-top: 150px;
	line-height: 0;
}

.landing-page-section h1, .dashboard-header h2, 
.program-calendar-header h2,
.edit-workout-header h2 {
	font-size: 3em;
}

.description p {
	font-size: 1.3em;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 40px;
	max-width: 600px;
	margin: 0 auto;
	text-align: justify;
}

.login-signup, .edit-individual-workout {
	background-color: #332417;
	height: 500px;
}

.login-signup h2, .login-signup form {
	position: relative;
}

.login-signup h2, .edit-individual-workout h2 {
	padding-top: 50px;
}

.login-signup p {
	text-align: center;
	width: 50%;
	font-size: 1.3em;
	position: relative;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

.login-signup form label,
.edit-individual-workout form label {
	display: inline-block;
	position: relative;
	text-align: left;
	padding-top: 10px;
}


/* Dashboard */
.dashboard {
	position: relative;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	margin-top: -20px;
}

.dashboard-header, .program-calendar-header, .edit-workout-header {
	width: 100%;
	background: #323232;
	height: 180px;
	margin-top: 80px;
}

.dashboard-header h2, .program-calendar-header h2, .edit-workout-header h2 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3em;
	margin: 0;
	padding: 0 10px 0 10px;
}

.workouts, .program-calendar, 
.edit-individual-workout {
	position: relative;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	margin-top: -20px;	
	list-style: none;
	background-color: #323222;
}

.workouts ul, .program-calendar ul {
	display: flex;
	justify-content: center; 
	align-items: center; 
  flex-wrap: wrap;
	padding-top: 20px;
	padding-left: 0;
	list-style-type: none;
}

.workouts ul li {
width: 120px;
	height: 120px;
	
}

.program-calendar ul li {
	width: 80px;
	height: 80px;
}

.workouts ul li, .program-calendar ul li {
	margin: 10px;
	border: 3px red solid;
	cursor: pointer;
}


.workouts ul li .li-text,
.program-calendar ul li .li-text {
	padding: 7px;
	position: relative;
	display: block;
	top: 50%;
	transform: translateY(-50%);
}

.program-calendar-header h2, .edit-workout-header {
	color: #FEFFE4;
	text-align: center;
}

.calendar-week {
	padding:0;
}

.description {
	background: #323222;
}

footer {
	height: 40px;
	width: 100%;
	background-color: grey;
	text-align: center;
}

footer span {
	display: inline;
	line-height: 0;
	position: relative;
	display: block;
	top: 50%;
	transform: translateY(-50%);
}


@media only screen and (max-width: 500px) {
	
	body {
		width: 100%;
	}

	.hero {
		width: 100%;
	}

	.landing-page-section h1 {
		font-size: 2em;
	}
	
	nav h3 {
		font-size: 1.4em;
	}

	.dashboard-header h2, 
	.program-calendar-header h2, .edit-workout-header h2 {
		font-size: 1.7em;
	}

	.landing-page-section p {
		padding: 20px;
		font-size: 1em;
		margin: 0 auto;
		
	}
	.landing-page-section {
		padding: 0;
	}


	.login-signup {
		height: 500px;
	}
}
