* {
	box-sizing: border-box;
	font-family: 'Libre Franklin', sans-serif;
	color: #FEFFE4;
}

h1, h2, h3 {
	font-family: 'Cardo', serif;
}

.next-wireframe-button {
	position: fixed;
	top: 10px;
	left: 50%;
	z-index: 500;
	cursor: pointer;
	color: black;
}

body {
	margin: 0;
	height: 100%;
	background-color: grey;
}

nav {
	position: fixed;
	background-color: #A2A2A2;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80px;
	top: 0;
	z-index: 1;
}

nav .burger-icon {
	position: fixed;
	width: 40px;
	height: 40px;
	border: solid grey 2px;
	top: 20px;
	left: 30px;
	cursor: pointer;
	color: white;
	font-size: 0.7em;
}

nav h3 {
	margin: 0;
	padding: 0;
	line-height: 0;
	color: #FEFFE4;
	text-shadow: 1.5px 1.5px black;
	font-size: 2em;
	position: relative;
	left: 90px;
	top: 39px;
}

.landing-page-section {
	position: relative;
	width: 100%;
	background: #323232;
	text-align: center;
	margin: 0 auto;
	margin-top: -40px;
	height: 340px;
}


.landing-page-section h1 {
	padding-top: 150px;
	line-height: 0;
}

.landing-page-section h1, .dashboard-header h2, 
.program-calendar-header h2,
.edit-exercise-header h2 {
	font-size: 3em;
}

.description p {
	font-size: 1.3em;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 40px;
	max-width: 600px;
	margin: 0 auto;
	text-align: justify;
}

.login-signup, .edit-individual-exercise, .individual-workout {
	background-color: #6D6D6D;
	min-height: 500px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
}

.login-signup {
	padding-top: 50px;
	padding-bottom: 50px;
}

.login-signup h2, .login-signup form {
	position: relative;
}

.login-signup p {
	text-align: center;
	width: 50%;
	font-size: 1.3em;
	position: relative;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

.login-signup form label,
.edit-individual-exercise form label {
	display: inline-block;
	position: relative;
	text-align: left;
	padding-top: 10px;
}

.edit-individual-exercise form .workout-notes {
	height: 150px;
}

.edit-exercise-form input {
	width: 80px;
}

.edit-exercise-form .workout-notes {
	width: 300px;
	height: 300px;
}

.edit-exercise-form button, .edit-exercise-form .submit-button {
	width: 120px;
}  

/*
For editing 'notes' box placeholder
.edit-exercise-form .workout-notes::-webkit-input-placeholder {
   
}

edit-exercise-form .workout-notes:-moz-placeholder { 

}

edit-exercise-form .workout-notes::-moz-placeholder {

}

edit-exercise-form .workout-notes:-ms-input-placeholder {  

}
*/

/* Dashboard */
.dashboard {
	position: relative;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	margin-top: -20px;
}

.dashboard-header, .program-calendar-header, 
.edit-exercise-header, .workout-header {
	width: 100%;
	background: #323232;
	min-height: 180px;
	margin-top: 80px;
}

.dashboard-header h2, .program-calendar-header h2, 
.edit-exercise-header h2, .workout-header h2 {
	position: relative;
	font-size: 3em;
	padding: 50px;
	margin: 10px;
}

.workouts, .program-calendar, 
.edit-individual-exercise,
.individual-workout {
	position: relative;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	margin-top: -20px;	
	list-style: none;
	background-color: #636363;
	padding-top: 40px;
	padding-bottom: 40px;
}

.add-workout-button {
	margin-top: 30px;	
	color: black;
}

.workouts ul, .program-calendar ul {
	display: flex;
	justify-content: center; 
	align-items: center; 
  flex-wrap: wrap;
	padding-top: 20px;
	padding-left: 0;
	list-style-type: none;
}

.workouts ul li {
width: 120px;
	height: 120px;
	
}

.program-calendar ul li {
	width: 80px;
	height: 80px;
}

.workouts ul li, .program-calendar ul li {
	margin: 10px;
	border: 3px red solid;
	cursor: pointer;
}


.workouts ul li .li-text,
.program-calendar ul li .li-text {
	padding: 7px;
	position: relative;
	display: block;
	top: 50%;
	transform: translateY(-50%);
}

.program-calendar {
	padding-top: 30px;
	padding-bottom: 30px;
}

.program-calendar-header h2, .edit-exercise-header,
.workout-header {
	color: #FEFFE4;
	text-align: center;
}

.program-calendar h3 {
	position: relative;
	margin-bottom: -35px;
}

button, .submit-button {
	color: black !important;
}

.calendar-week {
	padding:0;
}

.description {
	background: #636363;
}

footer {
	display: block;
	height: 40px;
	width: 100%;
	background-color: grey;
	text-align: center;
}

footer span {
	color: black;
	display: inline;
	line-height: 0;
	position: relative;
	display: block;
	top: 50%;
	transform: translateY(-50%);
}


@media only screen and (max-width: 500px) {
	
	body {
		width: 100%;
	}

	.hero {
		width: 100%;
	}

	.landing-page-section h1 {
		font-size: 2em;
	}
	
	nav h3 {
		font-size: 1.4em;
	}

	.dashboard-header h2, 
	.program-calendar-header h2, .edit-exercise-header h2 {
		font-size: 1.7em;
	}

	.landing-page-section p {
		padding: 20px;
		font-size: 1em;
		margin: 0 auto;
		
	}
	.landing-page-section {
		padding: 0;
	}


	.login-signup {
		min-height: 200px;
	}
}
